<footer class="site-footer">
  <div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
    <p class="rss-subscribe" style="margin: 0;">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    <span style="font-size: 0.9em;">
      Buy me ☕
      <a href="https://paypal.me/xxi3" target="_blank" title="PayPal" style="margin-left: 6px; text-decoration: none;">
        <img src="https://img.icons8.com/color/24/paypal.png" alt="PayPal" style="vertical-align: middle;">
      </a>
      <a href="https://venmo.com/Xin-Xi" target="_blank" title="Venmo" style="margin-left: 4px; text-decoration: none;">
        <img src="https://img.icons8.com/color/24/venmo.png" alt="Venmo" style="vertical-align: middle;">
      </a>
    </span>
  </div>
</footer>
